 body {
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: Arial, sans-serif;
     margin: 0;
     height: 100vh;
 }

 .playlist-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 20px;
 }

 .playlist {
     border: 1px solid #ccc;
     padding: 10px;
     margin: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .playlist img {
     max-width: 100px;
     margin: 10px 0;
 }

 h2 {
     margin: 10px 0;
 }